Repository sklar/quiz, changes with the labels that .github/labeler.yml gives for each.
All labels: angular, preact, qwik, react, solid, svelte, vue, website, ci

.github/labeler.yml:

angular:
- changed-files:
  - any-glob-to-any-file: 'packages/angular/**'

preact:
- changed-files:
  - any-glob-to-any-file: 'packages/preact/**'

qwik:
- changed-files:
  - any-glob-to-any-file: 'packages/qwik/**'

react:
- changed-files:
  - any-glob-to-any-file: 'packages/react/**'

solid:
- changed-files:
  - any-glob-to-any-file: 'packages/solid/**'

svelte:
- changed-files:
  - any-glob-to-any-file: 'packages/svelte/**'

vue:
- changed-files:
  - any-glob-to-any-file: 'packages/vue/**'

website:
- changed-files:
  - any-glob-to-any-file: 'packages/website/**'

ci:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/**'

chore: configure renovate
  .github/renovate.json5
  renovate.json
Labels: none

chore: ignore framework specific patterns in the root
  .gitignore
Labels: none

chore: configure renovate
  .github/renovate.json5
  renovate.json
Labels: none

chore: add clean script
  .gitignore
  package.json
  packages/angular/package.json
  packages/preact/package.json
  packages/qwik/package.json
  packages/react/package.json
  packages/solid/package.json
  packages/svelte/package.json
  packages/vue/package.json
  packages/website/package.json
Labels: angular, preact, qwik, react, solid, svelte, vue, website

chore(angular): pin typescript 5.5.4
  packages/angular/package.json
  pnpm-lock.yaml
Labels: angular

chore: add clean script
  .gitignore
  package.json
  packages/angular/package.json
  packages/preact/package.json
  packages/qwik/package.json
  packages/react/package.json
  packages/solid/package.json
  packages/svelte/package.json
  packages/vue/package.json
  packages/website/package.json
Labels: angular, preact, qwik, react, solid, svelte, vue, website

chore(angular): pin typescript 5.5.4
  packages/angular/package.json
  pnpm-lock.yaml
Labels: angular

chore(angular): pin typescript 5.5.4
  .github/renovate.json5
  packages/angular/package.json
  pnpm-lock.yaml
Labels: angular

chore(angular): pin typescript 5.5.4
  .github/renovate.json5
  packages/angular/package.json
  pnpm-lock.yaml
Labels: angular

chore: add clean script
  .gitignore
  package.json
  packages/angular/package.json
  packages/preact/package.json
  packages/qwik/package.json
  packages/react/package.json
  packages/solid/package.json
  packages/svelte/package.json
  packages/vue/package.json
  packages/website/package.json
  pnpm-lock.yaml
Labels: angular, preact, qwik, react, solid, svelte, vue, website

chore(deps): update dependency astro to v5
  package.json
  packages/preact/package.json
  packages/qwik/package.json
  packages/react/package.json
  packages/solid/package.json
  packages/svelte/package.json
  packages/vue/package.json
  packages/website/package.json
  pnpm-lock.yaml
Labels: preact, qwik, react, solid, svelte, vue, website

chore: add clean script
  .gitignore
  package.json
  packages/angular/package.json
  packages/preact/package.json
  packages/qwik/package.json
  packages/react/package.json
  packages/solid/package.json
  packages/svelte/package.json
  packages/vue/package.json
  packages/website/package.json
Labels: angular, preact, qwik, react, solid, svelte, vue, website

chore(deps): update dependency astro to v5
  package.json
  packages/preact/package.json
  packages/qwik/package.json
  packages/react/package.json
  packages/solid/package.json
  packages/svelte/package.json
  packages/vue/package.json
  packages/website/package.json
  pnpm-lock.yaml
Labels: preact, qwik, react, solid, svelte, vue, website

chore(deps): update dependency astro to v5
  package.json
  packages/preact/package.json
  packages/qwik/package.json
  packages/react/package.json
  packages/solid/package.json
  packages/svelte/package.json
  packages/vue/package.json
  packages/website/package.json
  pnpm-lock.yaml
Labels: preact, qwik, react, solid, svelte, vue, website

chore(deps): update react monorepo to v19
  packages/react/package.json
  pnpm-lock.yaml
Labels: react

chore(deps): update react monorepo to v19
  packages/react/package.json
  pnpm-lock.yaml
Labels: react

chore(deps): update svelte to v5
  packages/svelte/package.json
  packages/svelte/src/quiz/Quiz.svelte
  packages/svelte/src/quiz/QuizProgress.svelte
  packages/svelte/src/quiz/QuizQuestion.svelte
  packages/svelte/src/quiz/QuizResult.svelte
  pnpm-lock.yaml
Labels: svelte

chore(deps): update svelte to v5
  packages/svelte/package.json
  packages/svelte/src/quiz/Quiz.svelte
  packages/svelte/src/quiz/QuizProgress.svelte
  packages/svelte/src/quiz/QuizQuestion.svelte
  packages/svelte/src/quiz/QuizResult.svelte
  pnpm-lock.yaml
Labels: svelte

chore(deps): update angular to v19
  packages/angular/angular.json
  packages/angular/package.json
  packages/angular/src/app/app.component.ts
  packages/angular/src/app/quiz/quiz-progress.component.ts
  packages/angular/src/app/quiz/quiz-question.component.ts
  packages/angular/src/app/quiz/quiz-result.component.ts
  packages/angular/src/app/quiz/quiz.component.ts
  packages/angular/tsconfig.json
  pnpm-lock.yaml
Labels: angular

chore(deps): update angular to v19
  packages/angular/angular.json
  packages/angular/package.json
  packages/angular/src/app/app.component.ts
  packages/angular/src/app/quiz/quiz-progress.component.ts
  packages/angular/src/app/quiz/quiz-question.component.ts
  packages/angular/src/app/quiz/quiz-result.component.ts
  packages/angular/src/app/quiz/quiz.component.ts
  packages/angular/tsconfig.json
  pnpm-lock.yaml
Labels: angular

chore(deps): update angular to v19
  packages/angular/angular.json
  packages/angular/package.json
  packages/angular/src/app/app.component.ts
  packages/angular/src/app/quiz/quiz-progress.component.ts
  packages/angular/src/app/quiz/quiz-question.component.ts
  packages/angular/src/app/quiz/quiz-result.component.ts
  packages/angular/src/app/quiz/quiz.component.ts
  packages/angular/tsconfig.json
  pnpm-lock.yaml
Labels: angular

chore(deps): update dependencies (#61)
  .changeset/bright-shirts-roll.md
  .changeset/sixty-chicken-act.md
  .changeset/smart-seals-hunt.md
  .changeset/thirty-eyes-run.md
  .changeset/tiny-bottles-wait.md
  .gitignore
  package.json
  packages/angular/angular.json
  packages/angular/package.json
  packages/angular/src/app/app.component.ts
  packages/angular/src/app/quiz/quiz-progress.component.ts
  packages/angular/src/app/quiz/quiz-question.component.ts
  packages/angular/src/app/quiz/quiz-result.component.ts
  packages/angular/src/app/quiz/quiz.component.ts
  packages/angular/tsconfig.json
  packages/preact/package.json
  packages/qwik/package.json
  packages/react/package.json
  packages/solid/package.json
  packages/svelte/package.json
  packages/svelte/src/quiz/Quiz.svelte
  packages/svelte/src/quiz/QuizProgress.svelte
  packages/svelte/src/quiz/QuizQuestion.svelte
  packages/svelte/src/quiz/QuizResult.svelte
  packages/vue/package.json
  packages/website/package.json
  pnpm-lock.yaml
Labels: angular, preact, qwik, react, solid, svelte, vue, website

chore: schedule renovate
  .github/renovate.json5
Labels: none

chore(angular): unpin typescript
  packages/angular/package.json
  pnpm-lock.yaml
Labels: angular

chore: pin node 22.19.0
  package.json
Labels: none

chore(deps): update angular to v20
  packages/angular/angular.json
  packages/angular/package.json
  pnpm-lock.yaml
Labels: angular

chore(deps): update angular to v20 (#93)
  package.json
  packages/angular/angular.json
  packages/angular/package.json
  pnpm-lock.yaml
Labels: angular

chore: changesets
  .changeset/all-cars-lick.md
  .changeset/beige-bushes-send.md
  .changeset/little-experts-feel.md
  .changeset/silver-laws-rush.md
Labels: none

chore(deps): update dependencies (#94)
  .changeset/all-cars-lick.md
  .changeset/beige-bushes-send.md
  .changeset/little-experts-feel.md
  .changeset/silver-laws-rush.md
  package.json
  packages/angular/angular.json
  packages/angular/package.json
  packages/preact/package.json
  packages/qwik/package.json
  packages/react/package.json
  packages/solid/package.json
  packages/svelte/package.json
  packages/vue/package.json
  packages/website/package.json
  pnpm-lock.yaml
Labels: angular, preact, qwik, react, solid, svelte, vue, website

chore(deps): update angular to v21
  .changeset/two-parrots-bathe.md
  packages/angular/package.json
  pnpm-lock.yaml
Labels: angular

chore(deps): update angular to v21 (#133)
  .changeset/two-parrots-bathe.md
  packages/angular/package.json
  pnpm-lock.yaml
Labels: angular

chore: add Claude config
  .claude/CLAUDE.md
  .claude/rules/code-standards.md
  .claude/rules/workflow.md
  .claude/settings.json
  .gitignore
  README.md
Labels: none

chore(deps): pin versions
  .github/renovate.json5
  package.json
  packages/angular/package.json
  packages/preact/package.json
  packages/qwik/package.json
  packages/react/package.json
  packages/solid/package.json
  packages/svelte/package.json
  packages/vue/package.json
  packages/website/package.json
  pnpm-lock.yaml
Labels: angular, preact, qwik, react, solid, svelte, vue, website

chore: add changesets
  .changeset/brown-drinks-sing.md
  .changeset/major-actors-drop.md
  .changeset/public-beers-dress.md
  .changeset/quick-numbers-rush.md
  .changeset/ripe-queens-brake.md
  .changeset/slimy-masks-worry.md
  .changeset/some-canyons-allow.md
  .changeset/tasty-towns-sniff.md
  .changeset/upset-years-sit.md
Labels: none

fix(website): migrate to Zod 4 API
  packages/website/src/content.config.ts
Labels: website

chore: add GitHub templates
  .github/CI.md
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/task.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/issues.yml
  .vscode/extensions.json
Labels: ci

chore: migrate renovate config to new keys
  .github/renovate.json5
Labels: none

chore(deps): update dependencies (#132)
  .changeset/brown-drinks-sing.md
  .changeset/major-actors-drop.md
  .changeset/public-beers-dress.md
  .changeset/quick-numbers-rush.md
  .changeset/ripe-queens-brake.md
  .changeset/slimy-masks-worry.md
  .changeset/some-canyons-allow.md
  .changeset/tasty-towns-sniff.md
  .changeset/two-parrots-bathe.md
  .changeset/upset-years-sit.md
  .claude/CLAUDE.md
  .claude/rules/code-standards.md
  .claude/rules/workflow.md
  .claude/settings.json
  .github/CI.md
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/task.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/renovate.json5
  .github/workflows/issues.yml
  .github/workflows/labeler.yml
  .github/workflows/main.yml
  .gitignore
  .vscode/extensions.json
  README.md
  package.json
  packages/angular/package.json
  packages/preact/package.json
  packages/qwik/package.json
  packages/react/package.json
  packages/solid/package.json
  packages/svelte/package.json
  packages/vue/package.json
  packages/website/package.json
  packages/website/src/content.config.ts
  pnpm-lock.yaml
Labels: angular, preact, qwik, react, solid, svelte, vue, website, ci
